<!-- Footer -->
<footer class="bg-green-500 text-white p-6 text-center">
  <p class="text-sm font-bold">
    © 2025 PlantsCare. Todos los derechos reservados.
  </p>
  <p class="text-sm mt-2 font-bold">
    ¿Dudas? <a href="mailto:info@plantscare.es" class="underline">Contáctanos</a
    >
  </p>
</footer>
